/* styles/globals.css */

/* Ensure that the page takes up the full viewport height */
html, body, #__next {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  /* Create a flex container to push footer to the bottom */
  #__next {
    display: flex;
    flex-direction: column;
  }
  
  /* Ensure the content area takes up remaining space */
  main {
    flex: 1;
  }
  
  /* Style the footer */
  footer {
    background-color: #333;
    color: #cfcfcf;
    padding:2px 0;
    text-align: center;
  }

.mb{
    margin-bottom: 40px;
}

a{
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    color: rgb(19, 19, 19);
}

.a{
    text-decoration: none;
    color: #cfcfcf;
}

.a_h{
    padding: 20px;
}

a:hover{
    color: white;
    transition: 0.4s ease;
}

.cart_links{
    color: black;
    padding: 2px 10px;
    display: flex;
}

.cart_links:hover{
    color: grey;
}

.cart_icons{
    margin-right: 10px;
}

.zoomed{
    transition: transform 0.2s;
}

.zoomed:hover{
    transform: scale(1.05);
}

@media (max-width: 600px) {
    .header_links {
      display: none;
    }
    .header_padd{
        padding-left: 8px;
        padding-right: 0;
    }
  }